/*
Autor: Jorge Marcelo
Data de Criação: 09/08/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 


/*Google Fonts*/
/*Rubiki*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/*Titillium Web*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

/*Configurações padrão*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
transition: all 0.5s ease;
}

/*Background color*/
body{
background-color: rgb(145, 3, 3);
}

/*Formulario*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
background-color: rgb(41, 40, 40);
border-radius: 10px;
box-shadow: 0 20px 25px rgba(0,0,0,0.25);
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
padding: 10px;
border: 3px solid white;
}

/*Textos*/
h1{
color: red;
font-family: 'Rubik', sans-serif;
font-size: 1.5em;
font-weight: 900;
margin: 10px;
}

label{
font-family: 'Titillium Web', sans-serif;
font-size: 1.5em;
font-weight: 900;
color: white;
}

/*input e select*/
input{
border-radius: 10px;
background:transparent;
border: 2px solid red;
width: 100%;
height: 30px;
outline: none;
color: red;
font-size: 1.2em;
}

select{
border: 2px solid red;
background: transparent;
width: 200px;
border-radius: 10px;
height: 30px;
font-family: 'Titillium Web', sans-serif;
font-size: 1.1em;
font-weight: 400;
color: red;
cursor: pointer;
text-align: center;
}

/*Botão de conversão*/
.buttonConverter{
border-radius: 30px;
cursor: pointer;
width: 200px;
height: 35px;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 1.3em;
color: red;
margin: 10px;
border: 3px solid white;
background-color:transparent;
}

.buttonConverter:hover{
background-color: rgb(255, 75, 75);
color: white;
}

/*Paragrafo da mensagem*/
p{
font-weight: 900;
font-size: 1.2em;
color: red;
}


/*Rodape e redes sociais*/
table{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
}

tr{
display: flex;
flex-direction: column;
}

button{
margin:  5px 5px;
border-radius: 30px;
cursor: pointer;
width: 250px;
height: 45px;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 1.2em;
}

button img:hover{
background-color: rgb(87, 2, 2);
border-radius: 30px;
}


.igm-github{
position: relative;
right: 20px;
}

.igm-linkedin{
position: relative;
right: 10px;
}

.igm-threads{
position: relative;
right: 10px;
}

/*Texto do botão*/
span{
position: relative;
top: -8px;
color: white;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 1.3em;
}

span:hover{
color: rgb(133, 2, 2);
}


.github{
background: transparent;
border: 3px solid rgb(255, 0, 0);
}

.github:hover{
background-color: rgb(255, 75, 75);
border-color: rgb(133, 2, 2);
}

.linkedin{
background: transparent;
border: 3px solid rgb(255, 0, 0);
}

.linkedin:hover{
background-color: rgb(255, 75, 75);
border-color: rgb(133, 2, 2);
}

.instagram{
background: transparent;
border: 3px solid rgb(255, 0, 0);
}

.instagram:hover{
background-color: rgb(255, 75, 75);
border-color: rgb(133, 2, 2);
}

/*Animação*/
picture{
animation: rotate 3s linear infinite;
}

@keyframes rotate {
100%{
transform: rotate(360deg);
}
}
